.task-card {
    width: 100%;
    max-width: 330px;
    min-width: 330px;
    background-color: #1e1e1e;
    min-height: 520px;
    height: 100%;
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow 0.3s;
    justify-content: space-between;
}

.glow-active {
    box-shadow: inset 2px 4px 12px -1px #8b5cf6, 0 4px 12px rgba(0, 0, 0, 0.5);
}

.glow-done {
    box-shadow: inset 2px 4px 12px -1px #22c55e, 0 4px 12px rgba(0, 0, 0, 0.5);
}

.glow-urgent {
    box-shadow: inset 2px 4px 12px -1px #ef4444, 0 4px 12px rgba(0, 0, 0, 0.5);
}


.task-card-header {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.badge-done {
    background-color: #22c55e;
}

.badge-active {
    background-color: #8b5cf6;
}

.badge-urgent {
    background-color: #ef4444;
}

.status-badge {
    position: relative;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}

.task-title {
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    overflow-wrap: break-word;
    min-height: 250px;
}

.task-footer {
    font-size: 20px;
    color: #999;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.line-through {
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    text-decoration-style: revert;
    opacity: 0.7;
}
.left-align {
    text-align: left;
}