.tasks-page {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    box-sizing: border-box;
}

.add-task-button{
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.4s;
    background-color: #1e1e1e;
    color: white;
}

.add-task-button\:hover{
    box-shadow: inset 2px 4px 12px 1.5px #38a1c7, 0 4px 12px rgba(0, 0, 0, 0.5);

}

.glow{
    box-shadow: inset 2px 4px 12px -1px #38a1c7, 0 4px 12px rgba(0, 0, 0, 0.5);
}

.tasks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 50px;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

.tasks-empty-text{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
}



